h2{
    width: 100%;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    margin-left: 10px;
    color: rgb(113, 108, 108);
    line-height: 80px;
    margin-bottom: -10px;
}

p{
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Bitter', serif;
    font-weight: 100;
}

.container{
    width: 1000px, 100% ;
    height: fit-content;
    min-width: 1000px;
    max-height: fit-content;
    min-height: 170vh;
    background-image: url(../img/crowd.jpg); 
    background-size:contain;
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 1000px;
    height: 100%;
}

.title {
    color: rgb(248, 228, 193);
    text-shadow: 5px 8px 4px #000000;
    font-size: 1.7em;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

.content{
    margin-left:  50px;
    width: 900px;
    border-radius: 8px;
    background: white;
    height: fit-content;

}

.male_text{
    color: orange;
    font-weight: bold;
}

.female_text{
    color: #4e79a7;
    font-weight: bold;
}

.bold{
    font-weight: bold;
}

.float {
    width: 400px;
    margin-top: -300px;
    z-index: 99;
}