
h2{

    width: 100%;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    margin-left: 23px;
    color: rgb(113, 108, 108);
    line-height: 80px;
    margin-bottom: -10px;
    
}

p{
    margin-left: 23px;
    margin-right: 10px;
    font-family: 'Bitter', serif;
    font-weight: 100;
    line-height: 20px;
}

.container{
    width: 1520px;
    height: 1980px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(../img/crowd.jpg);
    background-position: center;
    background-size:contain;
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 1000px;
    height: 100%;
}

.title {
    color: rgb(248, 228, 193);
    text-shadow: 5px 8px 4px #000000;
    font-size: 28px;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

.content{
    margin-top: -50px;
    width: 1000px;
    border-radius: 8px;
    background: white;
    height: fit-content;

}

.Population_Age{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 10px;
}

.Nationality {
    position: absolute;
    width: 450px;
    left: 270px;
    top: 1160px;
}


.map_text {
    position: absolute;
    width: 450px;
    left: 778px;
    top: 748px;
}



/* Text decoration */
.male_text{
    color: #4e79a7;
    font-weight: bold;
}

.female_text{
    color: orange;
    font-weight: bold;
}


.density_l1{
    color:#efc571;
    font-weight: bold;
}

.density_l2{
    color:#fa9d4f;
    font-weight: bold;
}

.density_l3{
    color:#f05c4d;
    font-weight: bold;
}

.density_l4{
    color:#b71d3e;
    font-weight: bold;
}

.China_text {
    font-weight: bold;
    color: #4e79a7;
}

.India_text {
    color:  #f28e2b;
    font-weight: bold;
}

.UK_text {
    color:  #5aa24f;
    font-weight: bold;
}

.Vietnam_text {
    color:  #bea3d5;
    font-weight: bold;
}

.Philippines_text{
    font-weight: bold;
    color:#8452bd
}

.NZ_text{
    font-weight: bold;
    color: #8ad6d0
}

.Italy_text {
    font-weight: bold;
    color: #c9c776;
}

.Greece_text{
    font-weight:bold;
    color: #edc948
}

.bold{
    font-weight: bold;
}

.annotation{
    position: absolute;
    font-family:Arial, Helvetica, sans-serif;
    top: 1650px;
    left: 820px;
    font-size: 14px;
    z-index: 100;
    font-weight: 600;
    color:rgb(113, 108, 108);
}

/* Footer */
.footer{
    position: absolute;
    top: 1890px;
    text-shadow: 0px 5px 2px #000000;
    left: 1090px;
    font-size: 20px;
    color: rgb(248, 228, 193);
    font-family: 'Anton', sans-serif;
}